{% extends 'base.html' %}

{% block body %}

<div class="container p-5">
<div class="card">
    <h5 class="card-header">login</h5>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %} 
            <!-- <input type="hidden" name="next" value="{{next}}"> -->
            {% include 'include/form.html' %}
            <input type="submit" value="login" class="btn btn-primary btn-block" />
            <small class="text-muted">alredy has account <a href="{% url 'signUp'%}">signUp</a></small>
            
        </form>
    </div>
</div>
</div>
{% endblock %}
