{% load widget_tweaks %}
{% for field in form %}
    <div class="form-group">
      {{ field.label }}
      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div  class="invalid-feedback">{{error}}</div>
          {% endfor%}
        {% else%}
          {% render_field field class="form-control is-valid" %}
          <div  class="valid-feedback">look good!</div>
        {% endif %}
        {% if field.help_text %}
          <smal>
            <p class="text-muted">{{field.help_text}}</p>
          </smal>
        {% endif%}
      {%else%}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <smal>
            <p class="text-muted">{{field.help_text}}</p>
          </smal>
        {% endif%}
      {% endif %}
      
    </div>
  {% endfor%}
  {%if form.errors%}
        <div class="alert alert-danger" role="alert">
            {{form.errors}}
        </div>
    {%endif%}   