{% extends 'base.html'%} {% block title%}{{branche.name}}{%endblock%} 
{%block breadcrumb%}
<li class="breadcrumb-item"><a href="{%url 'Branches'%}">Branches</a></li>
<li class="breadcrumb-item active" aria-current="page">{{branche.name}}</li>
{%endblock%} {% block content%}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Branche details</h5>
    {% if branche.name%}
    <h6 class="card-subtitle mb-2 text-muted">{{branche.name}}</h6>
    <p class="card-text">{{branche.address}}</p>
    <p class="card-text">{{branche.phone}}</p>
    <p class="card-text">{{branche.phone}}</p>
    {% else %}
    <div class="alert alert-danger" role="alert">no data exists</div>
    {% endif%}
  </div>
</div>
<br/>
<table class="table table-striped">
  <thead class="table-primary">
    <th>Department</th>
  </thead>
  <tbody>
    {% for Department in departments %}
    <tr>
      <td>
        <h5 class="card-title">
          <a href="{% url 'DepartmentDetails' Department.id %}">{{Department.name}}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{Department.description}}
        </h6>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'newDepartmentToBranche' branche.pk %}" class="btn btn-outline-primary">add department to branche</a>
{%endblock%}
