{% extends 'base.html'%} {% block title%}Branches{% endblock %} {% block
breadcrumb%}
<li class="breadcrumb-item active" aria-current="page">Departments</li>
{% endblock %} {% block content%}
<a href="{% url 'newDepartments' %}" class="btn btn-primary"
  >add new department</a
>
<table class="table table-striped">
  <thead class="table-primary">
    <th>Department</th>
  </thead>
  <tbody>
    {% for Department in Departments %}
    <tr>
      <td>
        <h5 class="card-title">
          <a href="{% url 'DepartmentDetails' Department.id %}"
            >{{Department.name}}</a
          >
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{Department.description}}
        </h6>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
